/* *{
    padding: 0;
    margin: 0;
}  */

body{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #424242
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.navbar {
    display: flex; 
    justify-content: space-between; 
    position: -webkit-sticky;  
    padding-top: 3vh; 
    background-color: white; 
    padding-left: 2vw; 
    box-shadow: 2px 1px 2px #eee;
    box-sizing: border-box;
} 
.navbar img{ 
    margin-left: 11vw;
    width: 18%;
    height: 28%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

.navbar ul{
    display: flex;
    flex-direction: row; 
    gap: 12px;
    justify-content: space-evenly;  
    list-style: none;
    align-items: center;
} 
.navbar li{
    padding-left: 16px;
}

.landing-block{ 
    margin-top: 60px;
    text-align: center;
    justify-content: center;  
}

.landing-block img{
    height: 60vh;
    margin-bottom: 40px;
} 
 span{
    color: #0d6efd;  
    font-style: oblique;
}

.feat-section{
    margin-top: 16vh;
    margin-bottom: 79px;
}

.feat-section .container{
    align-items: center;
    display: flex;
    justify-content: space-evenly; 
}

.feat-section p{ 
    width: 29vw;
}
.feat-section img{
    height: 45vh;
} 

.features{
    display: flex;
    flex-direction: row;
} 

.account-open{
    align-items: center;
    display: flex;
    justify-content: space-evenly;   
    margin-left: 14vw;
    margin-right: 13vw;
    margin-top: 18vh;
    margin-bottom: 15vh;
} 
.account-open p{
    width: 29vw;
}

.table{
    display: flex;  
    line-height: 2;
}  
.table .col{
    border: 0.1rem solid rgb(95, 95, 95);
    justify-content: center;
    text-align: center;
    align-items: center; 
    padding: 5px;
}
.table p{
    width: 15rem;
} 

.open-acc{
    text-align: center;
    align-items: center;
    margin: 15vh 5vh;
} 

.app{
    margin: 5vh;
    text-align: center;
    align-items: center; 
    margin-bottom: 13vh;
}
.app h3 img{
    width: 4%;
} 
.app h3{
    display: flex;
    justify-content: center;
} 
.app p{
    padding-top: 20px;
}
.span2{
    color: #e94508;
}

.main-footer{
    display: flex;  
    justify-content: space-evenly;
    margin: 10vh 4vh 3vw 7vw;
    padding-left: 10rem;
    gap: 5px;
    padding-right: 8rem;  
    box-sizing: border-box;
}  
.main-footer li{  
    text-align: left;
    padding-right: 55px;
    list-style: none;
    width: 15rem;
}
.main-footer img{
    height: 10% ;
}
.main-footer i{
    padding:0px 10px ;
    font-size: larger;
}  
.info{
    width: 21vw;
}
.main-footer p{
    width: 16rem;
    padding-bottom: 0px;
}
.smallprint{ 
    font-size: xx-small;
    width: 72rem;
    margin-top: 5vh ;
    margin-bottom: 5vh ; 
    line-height: 2;
} 

/* @media(prefers-color-scheme: dark){
    body{
        background: black;
    }
} */